.EditButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    background-color: rgb(255, 153, 0);
}

.EditButton:hover {
    background-color: rgb(190, 224, 38);
}

.EditButton:active {
    background-color: rgb(204, 218, 15);
}